.document {
  column-width: 17em;
}
.document > div {
  margin-bottom: 0.4em;
}
.section {
  margin: 0;
}
.section > div {
  break-inside: avoid;
}
h1 {
  font-size: x-large;
  margin: 0;
}
h2 {
  font-size: medium;
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 1em;
}

/* print styles */
@media print {
  .document {
    columns: 3 auto;
  }
}
