main {
  column-width: 17em;
}
main > section {
  margin-bottom: 0.4em;
}
section {
  margin: 0;
}
main > section {
  break-inside: avoid-column;
}
section > section {
  break-inside: avoid;
}
h2 {
  font-size: x-large;
}
h3 {
  font-size: medium;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 1em;
}

/* print styles */
@media print {
  main {
    columns: 3 auto;
  }
}
